.footer {
  background-color: #f8f9fa;
  color: #343a40;
  padding-top: 30px;
}

.footer h5 {
  color: #007bff;
}

.footer ul li {
  list-style-type: none;
}

.footer ul li a {
  text-decoration: none;
  color: #343a40;
}

.footer ul li a:hover {
  color: #007bff;
}

.footer p {
  margin-bottom: 0;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.2);
}
