/* Navbar Styles */

.navbar {
  background: transparent; /* Fondo transparente */
  box-shadow: none; /* Quita la sombra */
  padding: 15px 0;
  justify-content: space-between; /* Distribuye los elementos a lo largo de la navbar */
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
  color: #fff; /* Color del texto */
  transition: color 0.3s;
}

.navbar-brand:hover {
  color: #ff0000; /* Color al hacer hover */
}

.navbar-toggler-icon {
  filter: invert(100%);
}

.navbar-nav {
  margin-left: auto; /* Mueve los elementos de la navbar a la izquierda */
}

.navbar-nav .nav-link {
  color: #fff; /* Color del texto */
  font-size: 1.1rem;
  margin-right: 20px;
  transition: color 0.3s, transform 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #005b97; /* Color al hacer hover */
  transform: scale(1.1);
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link.active {
  color: #ff0000; /* Color del texto activo */
  font-weight: bold;
}

.navbar-nav .nav-dropdown .dropdown-item {
  color: #333; /* Color del texto del dropdown */
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-dropdown .dropdown-item:hover {
  background-color: #0062cc; /* Color de fondo al hacer hover */
  color: #fff; /* Color del texto al hacer hover */
}

.navbar-nav .nav-link.contact-link {
  background-color: #000988; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link.contact-link:hover {
  background-color: #01bb74; /* Color de fondo al hacer hover */
  color: #fff; /* Color del texto al hacer hover */
}

@media (max-width: 991px) {
  .navbar-nav .nav-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
