.rating-stars {
    display: inline-flex;
  }
  
  .star {
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
  }
  
  .star:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la estrella al pasar el mouse */
    color: #ffc107; /* Cambia el color al pasar el mouse */
  }
  